/* font-family: 'Audiowide', cursive;
font-family: 'Press Start 2P', cursive; */

@font-face {
  font-family: "PressStart2P";
  src: url("../fonts/PressStart2P.ttf");
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  outline: 1px solid black;
  font-family: PressStart2P;
}
